<div class="principal">

  <!-- LOGO -->
  <img class="logo-inicio" src="assets/img/logo-color.png">
  <!-- ----- -->
  
  <p class="bold titulos">Bienvenido</p>
    
  <div class="texto-centrado">
    <p>
      "Refugio de Caty", Ofrece a su estadía servicio de hostal, 
      cabañas, departamentos y cafetería, para hacer de sus 
      vacaciones una experiencia inolvidable, donde podrá 
      disfrutar de alrededores.
  </p>
</div>

<!-- CAROUSEL -->
<mat-card>
  <mat-card-content>
<img class="logo-inicio" src="assets/img/portada.JPG">
</mat-card-content>
</mat-card>
<!-- -------------- -->


 <p class="sub-titulos">¿Qué puedo encontrar aquí?</p> 

 <!-- CABAÑAS -->
 <mat-card>
   <mat-card-title>
     <p class="natural-text">Cabañas</p>
   </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div  class="col-md-8">
          <img class="logo-inicio" src="assets/img/cabana/cabana-7.jpg">
        </div>
        <div class="col-md-4">
          <div class="texto-centrado">
            <p>2 CABAÑAS EQUIPADAS PARA 6 PERSONAS.</p>
          </div>
        </div>
      </div>
  </mat-card-content>
  </mat-card>
<!--  ---------  -->


 <!-- HOSTAL -->
 <mat-card>
   <mat-card-title>
     <p class="natural-text">Hostal</p>
   </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div  class="col-md-8">
              <img class="logo-inicio" src="assets/img/hostal/hab-matrimonial/hab-matrimonial-1.jpg">
            </div>
            <div class="col-md-4">
              <div class="texto-centrado">
                <p>Excelente ubicación</p>
                <p>Cómodos</p>
                <p>Estacionamiento privado</p>
              </div>
            </div>
          </div>
  </mat-card-content>
  </mat-card>
<!--  ---------  -->


 <!-- DEPARTAMENTOS -->
 <mat-card>
   <mat-card-title>
     <p class="natural-text">Departamentos</p>
   </mat-card-title>
    <mat-card-content>
        <div class="row">
            <div  class="col-md-8">
              <img class="logo-inicio" src="assets/img/departamento/departamento-11.jpg">
            </div>
            <div class="col-md-4">
              <div class="texto-centrado">
                <p>Habitación Doble</p>
                <p>Habitación Triple</p>
                <p>Habitación Matrimonial</p>
              </div>
            </div>
          </div>
  </mat-card-content>
  </mat-card>
<!--  ---------  -->

<p class="sub-titulos">¿Cómo puedo pagar?</p> 
<img src="assets/img/compraqui-logo.jpg">
<div class="texto-centrado">
  <p>Acepta pagos con CuentaRUT, tarjetas de débito y crédito Visa y Mastercard (sin cuotas) de todos los bancos del país.</p>
</div>

</div>
