<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
  [ngClass]="{hidden: (isHandset$ | async) === false}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/inicio" routerLinkActive="active">Inicio</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/hostal-inicio" routerLinkActive="active">Hostal</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/departamento" routerLinkActive="active">Departamentos</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/cabana" routerLinkActive="active">Cabañas</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/cafeteria" routerLinkActive="active">Cafetería</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/tarifa" routerLinkActive="active">Tarifas</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/tercera-edad" routerLinkActive="active">Vacaciones Tercera Edad</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="nav-link home" routerLink="/inicio" routerLinkActive="active">
        <img title="Inicio" alt="Logo Refugio de Caty" height="40" class="ng-start-inserted" src="assets/img/logo.png">
      </a>      
      <a *ngIf="!(isHandset$ | async)" routerLink="/hostal-inicio" routerLinkActive="active">Hostal</a>
      <a *ngIf="!(isHandset$ | async)" routerLink="/departamento" routerLinkActive="active">Departamentos</a>
      <a *ngIf="!(isHandset$ | async)" routerLink="/cabana" routerLinkActive="active">Cabañas</a>
      <a *ngIf="!(isHandset$ | async)" routerLink="/cafeteria" routerLinkActive="active">Cafetería</a>
      <a *ngIf="!(isHandset$ | async)" routerLink="/tarifa" routerLinkActive="active">Tarifas</a>
      <a *ngIf="!(isHandset$ | async)" routerLink="/tercera-edad" routerLinkActive="active">Tercera Edad</a>
      <a *ngIf="!(isHandset$ | async)" routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
