<div class="principal">

  <p class="bold titulos">Cabañas</p>
  <p>Contamos con 2 cabañas completamente equipadas</p>


  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">          
          <img class="imagen-medio" alt="cabaña" src="assets/img/cabana/cabana-7.jpg">
        </div>
        <div class="col-md-4">
          <div class="texto-centrado">            
            <p class="texto-medio"> Capacidad para 6 personas.</p>
            <p>
                3 Habitaciones.<br/>
                1 Habitación con cama matrimonial y una cama de 1 plaza<br/>
                Otra habitación con 2 literas y una habitación con cama de una plaza.
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>




  <mat-card>
    <mat-card-title>
        <p class="natural-text"> Habitaciones</p>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">     
          <mat-carousel timings="550ms ease-in" [autoplay]="true" interval="3000" color="accent" maxWidth="auto"
            proportion="50" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="true" [useKeyboard]="true"
            [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
              overlayColor="#00000040" [hideOverlay]="false">
            </mat-carousel-slide>
          </mat-carousel>
        </div>
        <div class="col-md-4">
          <div class="texto-centrado">
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>



  <mat-card>
      <mat-card-title>
          <p class="natural-text">Comedor</p>
      </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">          
          <img class="imagen-medio" alt="cabaña" src="assets/img/cabana/cabana-6.jpg">
        </div>
        <div class="col-md-4">
          <div class="texto-centrado">            
            <p class="texto-medio"> Comedor cabaña.</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>





</div>
