<div class="principal">
  <p class="bold titulos">Vacaciones Tercera Edad</p>
  <img class="sernatur-logo" src="assets/img/vacaciones-tercera-edad.jpg" alt="">

  <p class="sub-titulos">SERNATUR</p>

  <div class="texto-centrado"> 
    <p>
      ¡Disfruta de las vacaciones de tu vida! Accede al programa
      de viajes orientado a adultos mayores, que entrega paquetes
      turísticos subsidiados por el Gobierno, para que personas de
      la tercera edad puedan recorrer Chile de la mano de actividades
      que mejoran su calidad de vida e integración social.
    </p>
  </div>
    <p class="sub-titulos">¿Quiénes pueden acceder?</p>
    <div class="texto-centrado">
        <p>Para ser beneficiario se debe cumplir uno de los siguientes requisitos:</p>
        <p>Ser ciudadano chileno mayor de 60 años de edad o chileno residente en el extranjero, mayor de 60 años.</p>
        <p>Ser extranjero con residencia permanente en Chile, cuya edad sea de 60 años o más.</p>
        <p>Ser Jubilado, pensionado o montepiado de cualquier sistema previsional, aunque no tenga 60 años de edad. (Al momento de reservar viaje, deberán presentar a la agencia la última liquidación de pago u otro documento que acredite su calidad).</p>
        <p>Las personas con capacidad disminuida mayores de 18 años, quienes podrán viajar solos o acompañados de una persona que les facilite el acceso a todas las actividades del viaje y del diario vivir. (Al momento de reservar viaje en la agencia, deberán mostrar identificación otorgada por COMPIN, SENADIS u otro documento que acredite su calidad).</p>
    </div>
    <p class="sub-titulos">Más Información</p>
    <div class="texto'centrado">
        en <a target="_blank" href="https://www.sernatur.cl/vacaciones-tercera-edad/">sernatur.cl</a>
    </div>
</div>
