<div class="principal">
  <p class="bold titulos">Tarifas</p>

  <mat-card>
    <mat-card-title>
        <P class="natural-text">Temporada Alta</P>
    </mat-card-title>
    <mat-card-content>
      <table class="table table-striped">
        <thead>
          <tr>            
            <th>Servicio</th>
            <th>Valor</th>
            <th>Unidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Habitacion Doble</td>
            <td>30.000 CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Habitacion Triple</td>
            <td>50.000 CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Habitacion Matrimonial</td>
            <td>60.000 CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Cabaña</td>
            <td>60.000 CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Departamento</td>
            <td>40.000 CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Departamento Vista al Mar</td>
            <td>50.000 CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Desayuno</td>
            <td>4.000 CLP</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>
        <P class="natural-text">Temporada Baja</P>
    </mat-card-title>
    <mat-card-content>
      <table class="table table-striped">
        <thead>
          <tr>            
            <th>Servicio</th>
            <th>Valor</th>
            <th>Unidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Habitacion Doble</td>
            <td>??? CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Habitacion Triple</td>
            <td>??? CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Habitacion Matrimonial</td>
            <td>??? CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Cabaña</td>
            <td>??? CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Departamento</td>
            <td>??? CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Departamento Vista al Mar</td>
            <td>??? CLP</td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Desayuno</td>
            <td>??? CLP</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

</div>
