<div class="principal">
  <p class="bold titulos">Tarifas</p>

  <mat-card>
    <mat-card-title>
        <P class="natural-text">TEMPORADA ALTA 31 DE DICIEMBRE HASTA 30 DE MARZO</P>
    </mat-card-title>
    <mat-card-content>
      <table class="table table-striped">
        <thead>
          <tr>            
            <th>Servicio</th>
            <th>Valor</th>
            <th>Unidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Habitación Doble</td>
            <td> $ 60.000 </td>
            <td>Noche</td>
          </tr>
          <tr>
              <td>Habitación Matrimonial</td>
              <td> $ 50.000 </td>
              <td>Noche</td>
          </tr>
          <tr>
              <td>Cabaña 6 personas</td>
              <td>$ 70.000 </td>
              <td>Noche</td>
          </tr>
          <tr>
            <td>Habitación Triple</td>
            <td> $ 70.000 </td>
            <td>Noche</td>
          </tr>
          
          
          <tr>
            <td>Departamento 4 personas con balcón</td>
            <td> $ 70.000 </td>
            <td>Noche</td>
          </tr>

          <tr>
              <td>Departamento 4 personas sin balcón</td>
              <td> $ 60.000 </td>
              <td>Noche</td>
            </tr>
            
          <tr>
            <td>Desayuno Continental</td>
            <td> $ 4.000 </td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-title>
        <P class="natural-text">TEMPORADA BAJA DESDE 01 ABRIL HASTA 30 DICIEMBRE</P>
    </mat-card-title>
    <mat-card-content>
      <table class="table table-striped">
        <thead>
          <tr>            
            <th>Servicio</th>
            <th>Valor</th>
            <th>Unidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Habitación Doble</td>
            <td> $ 40.000 </td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Habitación Matrimonial</td>
            <td> $ 40.000 </td>
            <td>Noche</td>
          </tr>
          <tr>
              <td>Habitación Triple</td>
              <td> $ 50.000 </td>
              <td>Noche</td>
          </tr>
          <tr>
            <td>Cabaña 6 personas</td>
            <td> $ 60.000 </td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Departamentos 4 personas</td>
            <td> $ 50.000 </td>
            <td>Noche</td>
          </tr>
          <tr>
            <td>Desayuno Continental</td>
            <td> $ 4.000 </td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

</div>
