<div class="principal">
  <p class="bold titulos">Hostal</p>

  <mat-card>
    <mat-card-title>
      <p class="natural-text">Habitación Doble</p>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">
          <mat-carousel timings="550ms ease-in" [autoplay]="true" interval="3000" color="accent" maxWidth="auto"
            proportion="50" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="true" [useKeyboard]="true"
            [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slidesHabDoble; let i = index" [image]="slide.image"
              overlayColor="#00000040" [hideOverlay]="false">
            </mat-carousel-slide>
          </mat-carousel>
        </div>
        <div class="col-md-4">
          <p class="texto-medio"> 2 camas con baño privado.</p>
          <p class="texto-medio"> Desayuno</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <p class="natural-text">Habitación Triple</p>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">
          <mat-carousel timings="550ms ease-in" [autoplay]="true" interval="3000" color="accent" maxWidth="auto"
            proportion="50" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="true" [useKeyboard]="true"
            [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slidesHabTriple; let i = index" [image]="slide.image"
              overlayColor="#00000040" [hideOverlay]="false">
            </mat-carousel-slide>
          </mat-carousel>
        </div>
        <div class="col-md-4">
          <p class="texto-medio"> 3 Habitaciones.</p>
          <p class="texto-medio"> 1 Habitación cama matrimonial</p>
          <p class="texto-medio"> 2 literas</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <p class="natural-text">Habitación Matrimonial</p>
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col-md-8">
          <mat-carousel timings="550ms ease-in" [autoplay]="true" interval="3000" color="accent" maxWidth="auto"
            proportion="50" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="true" [useKeyboard]="true"
            [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slidesHabMatrimonial; let i = index" [image]="slide.image"
              overlayColor="#00000040" [hideOverlay]="false">
            </mat-carousel-slide>
          </mat-carousel>
        </div>
        <div class="col-md-4">
          <p class="texto-medio"> Habitación con cama matrimonial</p>
          <p class="texto-medio"> Baño privado</p>
          <p class="texto-medio"> Desayuno</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
